/* ------------------------------------- */
/* Section Style
/* ------------------------------------- */

.section {
  @apply flex flex-row justify-center items-start;
  padding: 30px 20px;
}

.section > * + * {
  margin-left: 10px;
}

@media screen and (max-width: theme('screens.sm')) {
  .section {
    @apply flex-col items-center;
  }

  .section > * + * {
    margin-left: 0;
    margin-top: 20px;
  }
}

/* ------------------------------------- */
/* Sub Section Style
/* ------------------------------------- */
.sub-section + .sub-section {
  margin-top: 20px;
}

.sub-section .title {
  @apply text-2xl font-bold;
  margin-bottom: 10px;
}

/* ------------------------------------- */
/* Avatar Image
/* ------------------------------------- */

.avatar {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.avatarImage {
  width: 180px;
  height: 180px;
}

/* ------------------------------------- */
/* Name and SNS Links
/* ------------------------------------- */

.personal {
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
}

.jobLabel {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 0.5em;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
}

.links > a {
  color: #000;
  @apply inline-flex items-center justify-center;
  width: 34px;
  height: 34px;
}

.links > * + * {
  margin-left: 10px;
}

.description {
  margin-bottom: 20px;
}

.description p + p {
  padding-top: 10px;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 650px;
}

.list ul > li {
  width: 200px;
}
