.section {
  @apply flex flex-row justify-center items-start;
  padding: 30px 10px;
}

.section > * {
  margin-left: 10px;
}

.image {
  width: 250px;
  height: 250px;
}

.name {
  font-weight: bold;
  font-size: 32px;
}
