.top {
  padding: 0 30px 32px;
}

.top .logo-content {
  margin: 90px 0 50px;
}

.top .description-content {
  margin-bottom: 32px;
}

.title {
  font-family: theme('fontFamily.gothic');
  font-weight: 600;
  font-size: theme('fontSize.md');
  margin-bottom: 16px;
}

.paragraph + * {
  margin-top: 10px;
}

.posts {
  margin-top: 16px;
}
