.header {
  position: fixed;
  top: 0;
  width: 100%;
  @apply bg-white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.headerContents {
  @apply flex items-center justify-between;
}

.brand a {
  display: block;
  padding: 10px;
  font-size: 1.4em;
  font-family: theme('fontFamily.gothic');
  font-weight: 600;
}

.brand:hover {
  opacity: 0.8;
}

.nav {
  display: flex;
}

.menuItem {
  font-family: theme('fontFamily.gothic');
  font-weight: 600;
}

.menuItem a {
  display: block;
  padding: 10px;
}

.menuItem a:hover {
  opacity: 0.8;
}
