.title {
  font-family: theme('fontFamily.gothic');
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}

.histories {
  margin-top: 16px;
}

.history-list > li + * {
  margin-top: 12px;
}
